*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
ol,
ul {
  list-style: none;
}
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?7r4r6y');
  src: url('fonts/icomoon.eot?#iefix7r4r6y') format('embedded-opentype'), url('fonts/icomoon.woff?7r4r6y') format('woff'), url('fonts/icomoon.ttf?7r4r6y') format('truetype'), url('fonts/icomoon.svg?7r4r6y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  height: 101%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  background: #eeeeee;
  color: #4d4d4d;
  font-family: Playfair Display, sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
a {
  -webkit-transition: all .2s;
  transition: all .2s;
  color: #930000;
  text-decoration: none;
}
a:hover {
  color: #c60000;
}
a:active {
  color: #600000;
}
header {
  background-color: #333333;
  padding: 2rem 1rem;
  color: #999999;
}
header h1,
header h2 {
  width: 36rem;
  margin: 1rem auto;
  display: block;
}
header h1 {
  font-size: 3rem;
  margin-bottom: 2.5rem;
}
header h1 a {
  margin: 0;
  width: auto;
  display: inline-block;
}
header h1 a:hover {
  color: #dddddd;
}
header h1 a::before,
header h1 a::after {
  width: 100%+2rem;
  clear: both;
  opacity: 0;
  border-top: medium solid #666666;
  display: block;
  content: '';
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 0 -1rem;
}
header h1 a::before {
  -webkit-transform: translateY(-2rem);
  -ms-transform: translateY(-2rem);
  transform: translateY(-2rem);
}
header h1 a::after {
  -webkit-transform: translateY(2rem);
  -ms-transform: translateY(2rem);
  transform: translateY(2rem);
}
header h1 a:hover::before,
header h1 a:hover::after {
  opacity: 1;
}
header h1 a:hover::before {
  -webkit-transform: translateY(2.8rem);
  -ms-transform: translateY(2.8rem);
  transform: translateY(2.8rem);
}
header h1 a:hover::after {
  -webkit-transform: translateY(-2.6rem);
  -ms-transform: translateY(-2.6rem);
  transform: translateY(-2.6rem);
}
header h2 {
  font-size: 1.5rem;
}
.branding {
  float: left;
  margin-bottom: 1.5rem;
}
.menu {
  width: 36rem;
  margin: auto;
  font-family: Open Sans Condensed, serif;
  font-size: 1.3rem;
  padding: .75rem 0;
}
.menu a {
  display: block;
  color: inherit;
}
.menu a:hover {
  color: #ffffff;
}
.menu .active {
  color: #dddddd;
}
.menu .active::before {
  content: '\e60b';
  font-family: icomoon, sans-serif;
  line-height: 0;
  position: relative;
  top: .2rem;
  border: none;
}
.menu > li {
  display: inline-block;
  position: relative;
  margin-right: 2rem;
}
.menu > li:hover ul {
  display: block;
}
.submenu {
  position: absolute;
  z-index: 999;
  display: none;
  border-top: none;
  -webkit-box-shadow: 0 0 0.3rem -0.1rem #333333;
  box-shadow: 0 0 0.3rem -0.1rem #333333;
}
.submenu li {
  float: left;
  width: 100%;
  border-bottom: thin solid #4d4d4d;
}
.submenu a {
  font-weight: normal;
  padding: .5rem 1.5rem;
  font-size: .95rem;
  font-weight: 300;
  color: #dddddd;
  background-color: #333333;
  white-space: nowrap;
}
.submenu a:hover {
  background-color: #000000;
  color: #eeeeee;
}
h1 {
  font-size: 2rem;
  line-height: 1.25rem;
  font-weight: 400;
  margin-bottom: .5em;
  font-family: Open Sans Condensed, serif;
}
h2 {
  font-size: 2em;
  line-height: 1.25em;
  font-weight: 300;
  margin-bottom: .5em;
  font-family: Open Sans Condensed, serif;
}
h3 {
  font-size: 1.4em;
  line-height: 1.5em;
  font-weight: 400;
  margin-bottom: .5em;
  font-family: Open Sans Condensed, serif;
}
h4 {
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.5em;
  margin-bottom: .5em;
}
h1 a,
h2 a,
h3 a,
h4 a {
  color: inherit;
}
.btn {
  display: inline-block;
  line-height: 1em;
  font-weight: 600;
  color: #222;
}
main {
  margin: 1.5rem auto 3rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
main p {
  margin-bottom: 1rem;
}
main img {
  margin-bottom: 20px;
}
section {
  margin-top: 3em;
  padding-top: 3em;
  border-top: 2px solid #ddd;
}
.container {
  margin: 0 1rem;
  width: 36rem;
}
.meta {
  width: 100%;
  margin: 0 0 1em 0;
}
.meta li {
  float: left;
  margin-right: 2em;
  color: red;
}
.meta li b {
  font-weight: 400;
  color: #000;
  padding-right: .25em;
}
.teaser {
  list-style: none;
  margin-left: 0;
}
.teaser li {
  float: left;
  width: 30%;
  margin-left: 5%;
}
.teaser li:first-child {
  margin-left: 0;
}
.teaser a {
  color: red;
}
.nextprev {
  padding: 1em 0;
}
.nextprev .prev {
  float: left;
}
.nextprev .next {
  float: right;
}
footer {
  padding: 1em 0 6em;
  font-size: .8em;
  color: #222;
  border-top: 2px solid red;
}
img {
  display: block;
  max-width: 100%;
}
.cf:after {
  content: "";
  display: table;
  clear: both;
}
/* LIGHTBOX STYLES */
.lb-cancel,
.lb-prev,
.lb-next,
.lb-close {
  font-family: icomoon, sans-serif;
}
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  opacity: 0.8;
  display: none;
}
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
}
.lightbox a img {
  border: none;
}
.lb-outerContainer {
  position: relative;
  background-color: black;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}
.lb-container {
  padding: 4px;
}
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  content: "/f110";
  color: #eeeeee;
}
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.lb-nav .nav {
  left: 0;
}
.lb-prev,
.lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}
.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  content: "/f104";
  color: #eeeeee;
}
.lb-nav a.lb-prev:hover {
  opacity: 1;
}
.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  content: "/f105";
}
.lb-nav a.lb-next:hover {
  opacity: 1;
}
.lb-dataContainer {
  margin: 0 auto;
  *zoom: 1;
  width: 100%;
}
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}
.lb-data {
  padding: 0;
  color: #666666;
  background: #000000;
  text-align: center;
  font-family: Playfair Display, sans-serif;
}
.lb-data .lb-details {
  width: 100%;
  padding: .5rem;
  line-height: 1.1rem;
  background: #000000;
}
.lb-data .lb-caption {
  font-size: .8rem;
  font-weight: 400;
  line-height: 1.2rem;
}
.lb-data .lb-number {
  display: block;
  clear: left;
  padding: 1em;
  font-size: 12px;
  color: #333333;
}
.lb-data .lb-close {
  display: block;
  float: right;
  width: 2rem;
  height: 2rem;
  text-align: right;
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.lb-data .lb-close:hover {
  cursor: pointer;
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */